.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-flow:columns ;
width: 60%;
margin: auto;
height: 95vh;

}
.body{
background-color: black;


}